
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: grey;
}
#watch{
/*     
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 10rem; */
    width: auto;
    height: auto;
    /* text-align: center; */
    font-size: 10rem;
    position: relative;
    top: 20px;
    left: 230px;
}
#span2{
    font-size: 57px;
    position: relative;
    top: 17px;
    left: 220px;
}
#watch #timer{
}
#button_div{
    padding: 50px;
    text-align: center;
}
#watch #button{

}
.buttons{
    height: 111px;
    width: 9%;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    margin: 0 25px;
}
#button_reset{
    background-color: blue;
}
#button_split{
    background-color: darkorange;
    
}
#button_start_stop{
    background-color: aquamarine;
}
.main #button_start_stop #start{
display: block;
}
.main #button_start_stop #stop{
display: none;
}